body {
    font-family: Arial, sans-serif;
    background: #f2f4f7;
    text-align: center;
}

form {
    background: white;
    width: 350px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

input, textarea, button {
    width: 95%;
    margin: 8px 0;
    padding: 8px;
}

button {
    background: #2563eb;
    color: white;
    border: none;
    cursor: pointer;
}

#status {
    margin-top: 15px;
    font-weight: bold;
}
